html {
    height: 100%;
}

body {
    padding: 1.5rem;
    margin: 0;
    height: calc(100% - 3rem);
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    gap: 1rem;
}

.route {
    background-color: var(--second-color);
    padding: .5rem;
    display: flex;
    gap: .5rem;
    box-shadow: 0rem 0rem .5rem .025rem black;
}

.routeForm {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.routeInputs {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: .25rem;
}

.routeInput {
    background-color: var(--third-color);
    color: inherit;
    border: .1rem solid var(--text-color);
}

.routeButton {
    width: 4rem;
    height: 2.5rem;
    color: inherit;
    border: .1rem solid var(--text-color);
}

.routeResponseWindow {
    background-color: #192025;
    color: white;
    white-space: pre-line;
    padding: .5rem;
    width: 100%;
}

.getButton {
    background-color: #81c1c6;
}

.postButton {
    background-color: #9ac681;
}

.patchButton {
    background-color: #c6bf81;
}

.deleteButton {
    background-color: #c68181;
}