.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.route {
    background-color: var(--second-color);
    padding: .5rem;
    display: flex;
    gap: .5rem;
}

.routeForm {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.routeInputs {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: .25rem;
}

.routeInput {
    background-color: var(--third-color);
    color: inherit;
    border: .1rem solid var(--text-color);
}

.routeButton {
    width: 4rem;
    height: 2.5rem;
    color: inherit;
    border: .1rem solid var(--text-color);
}

.routeResponseWindow {
    background-color: #192025;
    color: white;
    white-space: pre-line;
    padding: .5rem;
    width: 100%;
    min-height: 10rem;
}

.getButton {
    background-color: #81c1c6;
}

.postButton {
    background-color: #9ac681;
}

.patchButton {
    background-color: #c6bf81;
}

.deleteButton {
    background-color: #c68181;
}